
body{
    background-color: black;
    color: white;
}


/* nav */
nav{
    background-color: #43b1b1;
}
nav div a img{
    width: 2rem;
}

hr{
    height: 0.1rem;
    background-color: #ffffff;
    opacity: 0.5;
}

/* presentacion */
.colorItems{
    color: white;
}
.colorFondo{
    background-color: #43b1b1;
}
i{
    font-size: 1.5rem;
}

/* cards */
.altoTarjeta{
    height: 40%;
    height: 8rem;
}
.card-body{
    background-color: #43b1b1 ;
    color: white;
}