
body{
    background-color: black;
    color: white;
}


/* nav */
nav{
    background-color: #43b1b1;
}
nav div a img{
    width: 2rem;
}

hr{
    height: 0.1rem;
    background-color: #ffffff;
    opacity: 0.5;
}

/* presentacion */
.colorItems{
    color: white;
}
.colorFondo{
    background-color: #43b1b1;
}
i{
    font-size: 1.5rem;
}

/* cards */
.card{
    height: 100%;
}
.altoTarjeta{
    height: 40%;
}
.card-body{
    background-color: #43b1b1 ;
    color: white;
}

/* form */
.btn{
    background-color: #43b1b1;
}

/* footer */
.textFooter{
    font-size: 1rem;
}
.mizquierda{
    margin-left: 10rem;
}